*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: rgb(235, 231, 226);
    color: black;
    line-height: 1.8;
}
body>img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto 10px;
    border-radius: 17px;
}
nav{
    background-color: rgb(246, 248, 250);
    padding: 16px;
    margin: 0.5px;
    border: 1px solid;
}
nav>ul{
    display: flex;
    align-items: center;
    justify-content: center;gap: 40px;
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(112, 78, 27);
    border-radius: 6px;
    transition: 0.3s ease;
}
nav a:hover{
    color: brown;
}
main{
    width: 90%;
    max-width: 1300px;
    margin: 50px auto ;
}
header{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(113, 43, 43);
}
section>h3{
    text-align: center;

}

section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
section>h3{
    grid-column: 1/-1;
}
article{
    background-color: aliceblue;
    padding: 20px;text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px blanchedalmond;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}
article:hover{
    transform: translateY(-5px);
}
article img{
    width: 70%;
    height: 250px;
    object-fit: cover;
    box-shadow: 1px rgb(182, 23, 23);
    margin-bottom: 5px;
}
.pagination{
    text-align: center;
    padding: 10px;
    gap: 20px;
}


@media (max-width:900px) {
    section{
        grid-template-columns: repeat(2,1fr);
    }
    main>h1{
        font-size: 32px;

    }
    article img{
        height: 200px;
    }
}
@media (max-width:900px) {
    section{
        grid-template-columns: repeat(1,1fr);
    }
    main>h1{
        font-size: 32px;

    }
    article img{
        object-fit: contain;
        height: 200px;
    }
}