*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: aliceblue;
}
.site-header{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
}
.logo{
    width: 120px;
    height: auto;
    display: block;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.nav-links a:hover{
    color: rebeccapurple;
}
.search-bar{
    display: flex;
    gap: 20px;
}
.search-bar a{
    gap: 20px;
    color: black;
    text-decoration: none;
    font-size: 16px;

}
.search{
    border-radius: 6px 0 0 6px;
}
.search-bar button{
    padding: auto;
    border: 1px solid;
    border-radius: 5px;
    justify-content: space-around;
    color: rgb(73, 6, 6);
    font-size: auto;
    cursor: pointer;
}
.search-bar button:hover{
    color: green;
}
.search-bar a:hover{
    color:blue;
}
.hero{
    width: 90%;
    max-width: 1200px;
    height: 110%;
    margin: 60px auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(66, 121, 66);
}
.hero-content{
    width: 50%;
}
.hero-label{
    color: rgb(36, 16, 191);
    margin-bottom: 15px;
    font-style: italic;
    font-size: 20px;
}
.hero h1{
    max-width: 600px;
    margin-bottom: 20px;
    line-height: 1.1;
}
.description{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(31, 24, 36);
    line-height: 1.4;
}
.hero-button {

    display: inline-block;

    padding: 10px 20px;
    background-color: #2060ea;
    
    color: white;

    text-decoration: none;
    border-radius: 8px;
    font-weight: 800;
}
.hero-button:hover{
    color: black;
}